* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 85%;
}

.flex {
  display: flex;
}

.description-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.1px;
}

.heading-tertiary {
  font-family: 'Crete Round', sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.4rem;
  letter-spacing: 0;
}

.btn {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  background-color: #ff6b00;
  text-decoration: none;
  color: #fff;
}

.btn:link {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  background-color: #ff6b00;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  text-decoration: none;
  color: #ff6b00;
  background-color: #fff5e1;
  border: solid 1px #ff6b00;
}

.btn:active {
  text-decoration: none;
  color: #fff;
  background-color: #c06d1f;
}

.btn:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.btn-inline-block {
  display: inline-block;
}

.section-header {
  background-color: #3c3a39;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.transparent-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.container-popup {
  width: 80%;
  background-color: #f4f1f0;
  padding: 2rem;
  margin: 5% auto;
}

.padding-bottom {
  padding-bottom: 2rem;
}

.centering {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  text-decoration: none;
}

.links {
  text-decoration: none;
}

.nav-bar-list {
  display: none;
}

.menu {
  display: none;
}

.menu-mobile {
  display: block;
  width: 100%;
  height: 95vh;
  background-color: #3c3a39;
  position: fixed;
  left: 0;
  top: 0;
  padding: 2.4rem;
  padding-top: 4.8rem;
}

.menu-mobile a {
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: #fff5e1;
  padding: 1.2rem;
  border-bottom: solid 1px #6f6c6b;
  margin-top: 1.2rem;
}

.close {
  position: absolute;
  right: 2.4rem;
  top: 2.4rem;
}

.menu-mobile .mail {
  display: none;
}

.header-box {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.headline-container {
  flex-direction: column;
  justify-content: space-around;
}

.section-headline {
  padding: 12rem 0;
  background: #1c1a19 url(./img/illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 120%;
}

.heading-primary {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6.4rem;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding-bottom: 2.4rem;
}

.headline-support {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.15rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #fff5e1;
  padding-bottom: 1.2rem;
}

.headline-description {
  color: #fff;
}

.social-media-list {
  gap: 2rem;
}

.social-list {
  justify-content: flex-start;
  margin-top: 1.8rem;
}

.hero-icons {
  width: 2rem;
  fill: #cfcfcf;
}

.section-recent-work {
  background-color: hsl(0, 0%, 98%);
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.recent-work-heading {
  font-family: 'Crete Round', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 5.2rem;
}

.work-heading-box {
  flex-direction: column;
  gap: 4rem;
  justify-content: left;
  margin-bottom: 4rem;
}

.border-line-bottom {
  display: block;
  padding-bottom: 2px;
  background-color: #1c1a19;
}

.multi-post {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.work-img {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.work-img:hover {
  transform: scale(1.1);
  box-shadow: #1c1a19 3px 3px 20px 1px;
}

.work-description {
  color: #1c1a19;
}

.recent-btn {
  margin-top: 1.2rem;
}

.about-me-description {
  color: #fff;
  padding-bottom: 4.2rem;
}

.languages-list {
  font-size: 1.6rem;
  gap: 1rem;
}

.language:link,
.language:visited {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #1c1a19;
  border: 1px solid#8993A4;
}

.language:active,
.language:hover {
  border: solid 1px #8993a4;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-top: 2.4rem;
  padding-bottom: 2rem;
}

.open-modal {
  width: 90%;
  height: 90vh;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  padding-bottom: 2.4rem;
  margin: auto;
  z-index: 5;
  box-shadow: 0 0 20px rgb(84, 84, 84);
}

.Popup-window-container {
  overflow: scroll;
}

.dark-color {
  color: #1c1a19;
}

.blur {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
}

#feature--1,
#feature--2,
#feature--3,
#feature--4,
#feature--5,
#feature--6 {
  background-image: url(./img/first-background.svg);
  background-size: cover;
}

.feature-card {
  background: linear-gradient(
    180.45deg,
    rgba(38, 38, 38, 0) 0.75%,
    rgba(38, 38, 38, 0.9) 61.94%
  );
  padding: 2.4rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heading-feature {
  color: #fff;
}

.feature-description {
  color: #fff;
}

.language-feature {
  color: #fff;
}

.feature-btn {
  display: block;
  text-align: center;
}

.about-me-hero {
  padding-top: 12rem;
  background: #1c1a19 url(./img/Groupone.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex-basis: content;
}

.heading-about-me {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 7.2rem;
  line-height: 6.4rem;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding-bottom: 3.2rem;
}

.border-bottom {
  padding-bottom: 14rem;
  border-bottom: #fff solid 1px;
  margin-bottom: 0;
}

.skills {
  padding: 8rem 0;
  background-color: #1c1a19;
}

.skill-header {
  font-family: 'InaiMathi', sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
  color: #fff;
  margin-bottom: 4.4rem;
}

.shape {
  display: inline-block;
  padding: 1rem;
  background: #ff6b00;
  margin-right: 1rem;
}

.rectangle-1 {
  transform: rotate(45deg);
}

.rectangle-2 {
  border-radius: 50%;
}

.list-skills {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
  color: #fff;
  font-size: 2.2rem;
}

.list-skill {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#contact-section {
  background-color: hsl(0, 0%, 98%);
}

.contact-section__title {
  font-family: 'Inter', sans-serif;
  font-size: 3.2rem;
  color: #172b4d;
  font-weight: 700;
  line-height: 4.4rem;
  text-align: center;
}

.contact-container {
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding-top: 7rem;
}

.contact-form {
  flex-direction: column;
  gap: 3.2rem;
}

.contact-input {
  font-size: 1.6rem;
  border: 0;
  width: 100%;
  padding-left: 1rem;
  border-bottom: #dbd8d7 solid 1px;
  padding-bottom: 1.4rem;
  background-color: hsl(0, 0%, 98%);
}

.contact-message {
  background-color: #f8f9fa;
  border: none;
  font-size: 1.6rem;
  color: #3c3a39;
}

.submit-btn {
  color: #fff;
  font-size: 2.2rem;
  display: inline-block;
  background-color: #ff6b00;
  width: 15rem;
  font-weight: 600;
  padding: 1rem;
  border: none;
  margin-bottom: 6rem;
}

footer {
  border-top: #dbd8d7 solid 1px;
}

.footer-logos {
  justify-content: center;
  padding-top: 2rem;
}

.footer-icons {
  width: 2rem;
  fill: #505f79;
}

.bor-bottom {
  height: 4px;
  background-color: #1c1a19;
  width: 15rem;
  margin: 2rem auto;
  border-radius: 5px;
}

.drak-color {
  color: #1c1a19;
}

.btns-popup {
  display: flex;
  gap: 3rem;
}

.padding-2px {
  display: inline-block;
  padding-bottom: 10px;
}

.error-text {
  color: darkred;
  font-weight: 500;
  font-size: 2rem;
  padding: 5px 0;
}

.display-none {
  display: none;
}

@media screen and (min-width: 786px) {
  .container {
    margin: 0 auto;
    width: 80%;
  }

  .menu-box {
    display: none;
  }

  .menu {
    display: flex;
    gap: 3.2rem;
  }

  .menu a {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
  }

  .nav-bar-list {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .section-header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
  }

  .section-headline .container {
    margin: 0;
    display: grid;
    grid-template-columns: 15% 1.5fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
  }

  .social-list {
    grid-row: 1/2;
    flex-direction: column;
    align-items: center;
  }

  .section-headline {
    background-image: url(./img/Illustration-header@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0;
    height: 90vh;
  }

  .work-heading-box {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
  }

  .recent-work-heading {
    padding-top: 0;
    flex-shrink: 0;
  }

  .multi-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    justify-content: center;
    align-items: center;
  }

  .recent-work-img-box {
    display: inline-block;
    flex-shrink: 0;
  }

  .Popup-window-container {
    overflow: hidden;
  }

  .work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .work-header {
    grid-column: 1/4;
  }

  .languages-list {
    margin-bottom: 2rem;
  }

  #feature--1,
  #feature--4 {
    background-image: url(./img/first-background.svg);
    background-size: cover;
  }

  #feature--2,
  #feature--5 {
    background-image: url(./img/second-background.svg);
    background-size: cover;
  }

  #feature--3,
  #feature--6 {
    background-image: url(./img/third-background.svg);
    background-size: cover;
  }

  .feature-card {
    transition: all 0.4s;
  }

  .feature-card:hover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    opacity: 0;
    margin-bottom: 0;
  }

  .border-line-bottom {
    display: inline-block;
    width: 100%;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    column-gap: 6.4rem;
  }

  .contact-section__title {
    justify-self: center;
    align-self: start;
    text-align: left;
  }

  .list-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
  }

  .list-skill {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .contact-message {
    width: 100%;
  }

  .bor-bottom {
    display: none;
  }

  .footer-logos {
    padding-bottom: 2rem;
  }

  .about-me-hero {
    background-image: url(./img/illustration-about\ me@2x.png);
    background-repeat: no-repeat;
    background-size: 44rem;
    background-position: 100% 12rem;
  }

  .about-me-container {
    display: grid;
    grid-template-columns: 0.5fr;
  }

  .description-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    letter-spacing: 0.3px;
  }

  .btn-inline-block {
    width: 19rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-header {
    justify-content: start;
  }
}
